.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.headerStyle {
  box-shadow: 0 0 10px#A4ACB8ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0 10px;
}
.navBarLink {
  padding: 20px;
}

.navBarLink:hover {
  border-radius: 150%;
  box-shadow: 0 0 10px#A4ACB8ff;
}

.developer {
  color: rgb(44, 11, 144);
}