.headingTitle {
  color: rgb(44, 11, 144);
  text-align: center;
  padding: 50px;
}

.image1 {
  height: auto;
  width: 100%;
}

.wrap1,
.wrap2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:auto;
  padding: 0 42px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
  padding: 10px 10px 40px 10px;
  width: 30%;

}


